
body{
    background-color:  #ffffff;
    width: 100%;
    max-width: 980px;
    margin: auto;
}
header{
    background-color: aqua;
    width: 100%;
    max-width: 980px;
    height:  120;
    margin: auto;
    opacity: 10px;
}

footer{
    width: 100%;
    max-width: 980px;
    margin: auto;
    height: 100px;
    background-color: #303030;
    margin-bottom:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: bisque;
    margin-top: -10;
}

.conteudo{
    margin-top: 50px;
    width: 100%;
    max-width: 980px;
    margin: auto;
    height: 300px;
    background-color: hotpink;

}

.topo{
    width: 100%;
    max-width: 980px;
    margin: auto;
    height: 100px;
    background-color: #303030;
    margin-bottom:50px ;
}

.topo ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
    }
    
    .topo li{
        
        height: 50px;
        line-height: 50px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        
    
    
    }
