body{

margin: 0;
background-color: #1e1e1e;

}

.topo{

    width: 100%;
    max-width: 980px;
    height: 470;
    margin: auto;
}

.topo1{

    height: 120px;
    
}

.banner{

    height:350px;
    background-color:#514e51;
}

.menu{
    width: 100%;
    max-width: 980px;
    margin: auto;
    height: 50;
    background-color: #0062b7;
}


.container{
    width: 100%;
    max-width: 980px;
    margin: auto;
    background-color: #fff;
    min-height: 400px;


}

.rodape{
    
    width: 100%;
    max-width: 980px;
    margin: auto;
    height: 100px;
    background-color: #303030;
    margin-bottom:50px ;
}

.menu ul{
list-style: none;
margin: 0;
padding: 0;

}

.menu li{
    height: 50px;
    line-height: 50px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    color: pink;


}
.home_sobre{

    padding-top: 20px;

}
.home_sobre img{
    float:left;
    margin-right: 20px;
    margin-left: 20px;
}

.home_sobre h4{
    margin: 0;
    padding: 0;
}